<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>North-Fresh Farmers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
    </head>

    <body style="color:black; background-image:url(img/imagefond.jpg);opacity:0.95;filter:alpha(opacity=95);  ">

    <div class="container-fluid">
        <header th:replace="~{common::header}"></header>
    </div>

        <div class="d-flex justify-content-center">
            <div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center">
                <div class="container">
                    <h3>Accueil</h3>
                    <p class="sousTitre">North Fresh Farmers est une association de l'Université Catholique de Lille,
                    permettant aux étudiants d'avoir accès a des légumes frais et issus de l'agriculture biologique. Ce site
                    vous permettra d'enregistrer vos commandes au long de l'année scolaire.</p>
                </div>
            </div>
        </div>

        <footer th:replace="~{common::footer}"></footer>

    </body>
</html>