<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Fragments</title>
</head>
<body style="color:black; background-image:url(img/imagefond.jpg);opacity:0.95;filter:alpha(opacity=95);  ">
<div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center;">
	<header id="menu" th:fragment="header">
		<div class="media">
			<img class="mr-3" src="img/logonff.jpg" alt="NFF" style="width: 10%">
			<div class="container h-100">
				<div class="row align-items-center h-100">
					<div class="col-6 mx-auto">
						<div class="jumbotron">
							<h1 class="mt-0">North-Fresh Farmers</h1>
						<h3>Fruits & Légumes locaux</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="accueil">Accueil <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="home">Commander</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link disabled" href="profilutilisateur">Mon profil</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link disabled" href="abonnement">S'abonner</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-1" type="email" placeholder="Email" aria-label="Email">
						<input class="form-control mr-sm-1" type="password" placeholder="Mot de passe" aria-label="password">
						<button class="btn btn-outline-success my-1 my-sm-0" type="submit">Se connecter</button>
					</form>
				</div>
			</nav>
	</header>

	<!--Footer-->
	<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4" th:fragment="footer" id="footer">

		<div class="d-flex justify-content-center">
			<div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center">
		<!--Footer Links-->
		<div class="container text-center text-md-left">
			<div class="row my-4">

				<!--First column-->
				<div class="col-md-4 col-lg-4">
					<h5 class="text-uppercase mb-4 font-weight-bold">NFF</h5>
					<p>North-Fresh Farmers HEI, légumes bio et locaux.</p>
				</div>
				<!--/.First column-->

				<hr class="clearfix w-100 d-md-none">

				<!--Second column-->
				<div class="col-md-2 col-lg-2 ml-auto">
					<h5 class="text-uppercase mb-4 font-weight-bold">About</h5>
					<ul class="list-unstyled">
						<p><a href="accueil">NOS PROJETS</a></p>
						<p><a href="apropos">A PROPOS</a></p>
						<p><a href="apropos">CONTACTS</a></p>
					</ul>
				</div>
				<!--/.Second column-->

				<hr class="clearfix w-100 d-md-none">

				<!--Third column-->
				<div class="col-md-4 col-lg-3">
					<h5 class="text-uppercase mb-4 font-weight-bold">Addresse</h5>
					<!--Info-->
					<p><i class="fa fa-home mr-3"></i> 13 rue de Toul, 59000 Lille</p>
					<p><i class="fa fa-envelope mr-3"></i> northfreshfarmers@hei.fr</p>
					<p><i class="fa fa-phone mr-3"></i> 03 28 38 48 58</p>

				</div>
				<!--/.Third column-->

				<hr class="clearfix w-100 d-md-none">

				<!--Fourth column-->
				<div class="col-md-2 col-lg-2 text-center">
					<h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
					<!--Social buttons-->
					<ul class="list-unstyled">
						<p><a href="https://www.facebook.com/profile.php?id=100010066362593"><i class="fa fa-facebook"></i></a></p>
						<p><a href="#!"><i class="fa fa-twitter"></i></a></p>
						<p><a href="#!">Site Web NFF</a> <i class="fa fa-website"></i></p>
					</ul>
				</div>
				<!--/.Fourth column-->

			</div>
		</div>
		<!--/.Footer Links-->

		<!--Copyright-->
		<div class="footer-copyright py-3 text-center">
			<div class="container-fluid">
				© 2018 Copyright: <a href="accueil"> NFF </a>

			</div>
		</div>
		<!--/.Copyright-->
			</div>
		</div>

	</footer>
	<!--/.Footer-->
</div>
</body>
</html>