<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>North-Fresh Farmers</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
</head>

<body style="color:black; background-image:url(img/imagefond.jpg); ">

<header th:replace="~{common::header}"></header>

<div class="d-flex justify-content-center">
	<div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center">
		<div class="container">
			<h3>Livraison du</h3>
				<h3 th:text="${livraison.date}"></h3>

				<h4>Contenu :</h4>
				<p th:text="${livraison.contenu}" class="resume"></p>
			<h4>ID Livraison :</h4>
			<p th:text="${livraison.id}" class="resume"></p>

				<h3>Clients</h3>
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>ID Commande</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Email</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="participantALivrer : ${participantsALivrer}">
								<td th:text="${participantALivrer.idParticipantALivrer}"></td>
								<td th:text="${participantALivrer.nom}"></td>
								<td th:text="${participantALivrer.prenom}"></td>
								<td th:text="${participantALivrer.email}"></td>
							</tr>
							</tbody>
						</table>
					</div>


		</div>
			</div>
		</div>
	</div>


<footer th:replace="~{common::footer}"></footer>

</body>
</html>