<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mes livraisons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
</head>

<body style="color:black; background-image:url(img/imagefond.jpg);opacity:0.95;filter:alpha(opacity=95);  ">

<header th:replace="~{common::header}"></header>

<div class="d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center">
        <div class="container">
            <h3>Connectes-toi pour accéder à tes livraisons</h3>
            <form method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:value="${email}" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                    <label for="motDePasse">Mot de passe</label>
                    <input type="password" class="form-control" id="motDePasse" name="motDePasse" placeholder="Mot de passe" >
                </div>
            </div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn boutonvalider">Voir mes livraisons</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{common::footer}"></footer>
</html>