<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>North-Fresh Farmers</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
</head>

<body style="color:black; background-image:url(img/imagefond.jpg); ">

<header th:replace="~{common::header}"></header>

<div class="d-flex justify-content-center">
	<div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center">
		<div class="container">
			<h3>Livraison du [[${livraison.date}]]</h3>
				<h4>Contenu :</h4>
				<p th:text="${livraison.contenu}" class="resume"></p>
			<h4>ID Livraison :</h4>
			<p th:text="${livraison.idLivraison}" class="resume"></p>

			<form>
			<a th:href="'validation?idlivraison='+${livraison.idLivraison}"><button type="button" class="btn btn-success">Je participe</button></a>
			</form>
		</div>
	</div>
</div>


<footer th:replace="~{common::footer}"></footer>

</body>
</html>