<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>North-Fresh Farmers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
</head>

<body style="color:black; background-image:url(img/imagefond.jpg);opacity:0.95;filter:alpha(opacity=95);  ">

<header th:replace="~{common::header}"></header>

<div class="d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid" style="width: 85%; align-self: center">
        <div class="container">
            <h3>Livraison validéé</h3>
            <p class="sousTitre">Tu peux maintenant aller régler ton panier sur Pumpkin. Lorsque ton paiement Pumpkin sera validé, nous t'enverrons
            un message de confirmation.</p>
        </div>
    </div>
</div>

<footer th:replace="~{common::footer}"></footer>

</body>
</html>