<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Confirmer la suppression</title>
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
<header th:replace="~{common::header}"></header>

<div id="mainContent" class="container-fluid">
    <section class="ajoutlivraison">
        <article class="livraisonCadre">
            <h3>Suppression</h3>
            <p class="sousTitre">Êtes-vous sûr de vouloir supprimer l'evenement ?</p>

            <div class="btn-toolbar actionbar" role="toolbar">
                <div class="groupeBouton" role="group">
                    <a th:href="'suppression?confirmation=true&id='+${livraison.id}" class="bouton1"><i class="fa fa-remove" aria-hidden="true"></i> Supprimer</a>
                </div>
                <div class="groupeBouton" role="group">
                <a href="home" class="bouton1"><i class="fa fa-reply" aria-hidden="true"></i> Annuler</a>
                </div>
            </div>
        </article>
    </section>
</div>

<hr align="center" size="4" color="black" width="80%">
<a href="home"><img src="img/fruits-et-légumes1.jpg" class="image1"></a>

</body>
</html>